<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>mems</key>
		<array>
			<dict>
				<key>title</key>
				<string>余额宝</string>
				<key>img</key>
				<string>20000032Icon</string>
				<key>vc</key>
				<string>YFYEBVC</string>
			</dict>
			<dict>
				<key>title</key>
				<string>招财宝</string>
				<key>img</key>
				<string>20000059Icon</string>
				<key>vc</key>
				<string>YFBasicVC</string>
			</dict>
			<dict>
				<key>title</key>
				<string>娱乐宝</string>
				<key>img</key>
				<string>20000077Icon</string>
				<key>vc</key>
				<string>YFBasicVC</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mems</key>
		<array>
			<dict>
				<key>title</key>
				<string>芝麻信用分</string>
				<key>img</key>
				<string>20000118Icon</string>
				<key>vc</key>
				<string>YFBasicVC</string>
			</dict>
			<dict>
				<key>title</key>
				<string>随身贷</string>
				<key>img</key>
				<string>20000180Icon</string>
				<key>vc</key>
				<string>YFBasicVC</string>
			</dict>
			<dict>
				<key>title</key>
				<string>我的保障</string>
				<key>img</key>
				<string>20000110Icon</string>
				<key>vc</key>
				<string>YFBasicVC</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>mems</key>
		<array>
			<dict>
				<key>title</key>
				<string>爱心捐赠</string>
				<key>img</key>
				<string>09999978Icon</string>
				<key>vc</key>
				<string>YFBasicVC</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
